```css
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;

  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
}

.container{

  width:350px;

  padding:30px;

  border-radius:20px;

  background:rgba(255,255,255,0.1);

  backdrop-filter:blur(15px);

  box-shadow:
  0 8px 32px rgba(0,0,0,0.3);

  border:
  1px solid rgba(255,255,255,0.2);

  color:white;
}

h1{
  text-align:center;
  margin-bottom:25px;
}

label{
  display:block;
  margin-top:15px;
  margin-bottom:5px;
}

input,
select{

  width:100%;

  padding:12px;

  border:none;

  border-radius:10px;

  outline:none;

  background:
  rgba(255,255,255,0.2);

  color:white;

  font-size:16px;
}

select option{
  color:black;
}

input::placeholder{
  color:#ddd;
}

button{

  width:100%;

  margin-top:25px;

  padding:14px;

  border:none;

  border-radius:12px;

  background:#00c853;

  color:white;

  font-size:16px;

  cursor:pointer;

  transition:0.3s;
}

button:hover{
  background:#00e676;
  transform:scale(1.03);
}

#status{
  text-align:center;
  margin-top:20px;
  font-weight:bold;
}
```
